{% if item[0].webmaster.action == "filter" %}
{% if item[0].webmaster.dspam is defined and item[0].webmaster.dspam | bool %}
| {{ qmt_dspam }} --user "$EXT@$HOST" --deliver=stdout | {{ qmt_preline }} {{ qmt_procmail }} -p -m /home/vpopmail/domains/{{ item[0].webmaster.host }}/.procmailrc-{{ item[0].webmaster.user }}
{% else %}
| {{ qmt_preline }} {{ qmt_procmail }} -p -m /home/vpopmail/domains/{{ item[0].webmaster.host }}/.procmailrc-{{ item[0].webmaster.user }}
{% endif %}
{% elif item[0].webmaster.action == "deliver" %}
{% if item[0].webmaster.dspam is defined and item[0].webmaster.dspam | bool %}
| {{ qmt_dspam }} --user "$EXT@$HOST" --deliver=stdout | /home/vpopmail/bin/vdelivermail '' bounce-no-mailbox
{% else %}
{{ item[0].webmaster.directory }}
{% endif %}
{% elif item[0].webmaster.action == "forward" %}
{{ item[0].webmaster.address }}
{% elif item[0].webmaster.action == "delete" %}
| {{ qmt_vdelivermail }} '' delete
{% endif %}
