{% if filter|bool %}
    {% if dspam|bool %}
        | {{ qmt_dspam }} --user "$EXT@$HOST" --deliver=stdout | {{ qmt_preline }} {{ qmt_procmail }} -p -m {{ qmt_vpopmail_dir }}/{{ domain }}/.procmailrc-{{ username }}
    {% else %}
        | {{ qmt_preline }} {{ qmt_procmail }} -p -m /home/vpopmail/domains/{{ domain }}/.procmailrc-{{ username }}
    {% endif %}
{% else %}
    {% if

    {% if dspam|bool %}
        | {{ qmt_dspam }} --user "$EXT@$HOST" --deliver=stdout | {{ qmt_vdelivermail }} '' {{ qmt_vpopmail_dir }}/{{ domain }}/{{ username }}/Maildir
    {% else %}
{% if forward|bool %}
{{ qmt_vdelivermail }} '' {{ address }}
{% else %}
{% if delete|bool }
{{ qmt_vdelivermail }} '' bounce-no-mailbox


{{ qmt_vdelivermail }} '' bounce-no-mailbox
{% endif %}
{% endif %}
{% endif %}
