{% if item[0].services.action == "filter" %}
{% if item[0].services.dspam is defined and item[0].services.dspam | bool %}
| {{ qmt_dspam }} --user "$EXT@$HOST" --deliver=stdout | {{ qmt_preline }} {{ qmt_procmail }} -p -m /home/vpopmail/domains/{{ item[0].services.host }}/.procmailrc-{{ item[0].services.user }}
{% else %}
| {{ qmt_preline }} {{ qmt_procmail }} -p -m /home/vpopmail/domains/{{ item[0].services.host }}/.procmailrc-{{ item[0].services.user }}
{% endif %}
{% elif item[0].services.action == "deliver" %}
{% if item[0].services.dspam is defined and item[0].services.dspam | bool %}
| {{ qmt_dspam }} --user "$EXT@$HOST" --deliver=stdout | /home/vpopmail/bin/vdelivermail '' bounce-no-mailbox
{% else %}
{{ item[0].services.directory }}
{% endif %}
{% elif item[0].services.action == "forward" %}
{{ item[0].services.address }}
{% elif item[0].services.action == "delete" %}
| {{ qmt_vdelivermail }} '' delete
{% endif %}
