<?php

$_ENV['RAINLOOP_INCLUDE_AS_API'] = true;
include '/usr/share/rainloop/index.php';

$oConfig = \RainLoop\Api::Config();
$oConfig->SetPassword('{{ qmt_rainloop_admin_password }}');
echo $oConfig->Save() ? 'Done' : 'Error';

?>